/* shared style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
        font-weight: 900px;

}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    width: 150px;
    height: 65px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer ;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px ;
    margin-bottom: 30px;
    color: #757575;
}
.text-align{
    text-align: center;
}


/* main style */

header{
    padding-top: 50px;
    background: url(images/developer.png), url(images/header_bg.png);
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    background-color: #FFF8F3;
    
}

nav{
    width: 71.25%;
    max-width: 1140px;
    /* border: 1px solid; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}

.banner-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom:30px ;
    max-width: 585px;
}

.banner-image img{
    max-width: 584px;
    vertical-align: middle ;
}

#about, #skills, #resume {
    padding-top: 130px;
}

.about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
    border-radius: 10px;
}

.about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px ;
    color: #757575;
}

.info-card .h4{
    font-size: 20px
}

.skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.skill-box{
    display: flex;
    gap: 24px;
}

.skill-card{
    padding: 30px;
    max-width: 247px;
    box-shadow: 0 6px 50px 0 #0000001b;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px ;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.resume-container{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    gap: 24px;
}
.section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.card-title{
    font-size: 25px;
    margin-bottom: 10px;
    color: #474747;
}
.card-info{
    font-size: 20px;
    margin-bottom: 20px;
    color: #757575;
    font-weight: 600px;
}
.card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}
hr{
    margin-bottom: 30px;
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
.footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.social{
    max-width: 562px;
}
.footer-container h2{
    font-size: 45px;
    margin-bottom: 20px;
}
.social p{
    color: #474747;
    font-size:16px;
    line-height: 28px;
    margin-bottom: 30px;
}
.icons a{
    margin-right: 24px;
}

form input[type="text"] , textarea{
    width: 461px;
    margin-bottom:24px;
    padding: 18px 31px;
    border: none;
    border-radius: 5px;
    color: #757575;
}